body {
    font-family: "Segoe UI Light", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    color: white;
    margin: 0;
    height: 100%;
    width: 100%;
    background:black url(/images/city_drop.jpg) no-repeat;
}

#wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
} 

a {
    text-decoration: none;
    color: white;

}

nav {
    background-color: rgba(0,0,0,0.7);
    height: 40px;
}

ul {
    display: inline-block;
    list-style-type: none;
}

li {
    float: left;
    padding: 0px 50px 0px;
    
}

header {
    background-color: yellow;
}


img{
    display: block;
    background-color: red;
    width:"100px";
    height:"100px";
    border: 3px solid black;
}

#logo{
    text-align: center;
    background-color: red;
}